@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

section {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0px -200px;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login img {
  width: 40px;
}

nav img {
  margin-top: 5px;
  width: 100px;
  cursor: pointer;
  filter: invert(100%);
}

.nav-links ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
}

.nav-links ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.sliding-text-container {
  width: 100%;
  text-transform: uppercase;
  position: relative;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.big-text {
  display: inline-block;
  font-size: 200px;
  color: black;
  z-index: 0;
  font-weight: 900;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main-image {
  max-width: 350px;

  margin-right: 20px;
  margin-left: 10px;
}

.container {
  margin: auto;
  width: 75%;
  display: flex;
  align-items: center;
}

.main-text h1 {
  font-size: 48px;
}

.main-text p {
  line-height: 2;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

.submit a {
  text-decoration: none;
  color: black;
}

.icon {
  margin-top: 9px;
  margin-left: 5px;
}
ion-icon {
  font-size: 20px;
}

.membership-container {
  height: 60%;
  width: 100%;

  padding: 50px;
}

.membership-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.membership-tier-div {
  display: flex;
  justify-content: center;
}

.membership-tier-div button {
  width: 100%;
  padding: 10px;
  margin: 30px 0;
  border-radius: 50px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.membership-tier-div p {
  text-decoration: underline;
  margin-bottom: 5px;
}

.member-div1,
.member-div2 {
  width: 100%;

  border: 1px solid black;
  padding: 30px;
  margin: 0 30px;
}

.membership-tier-div ul {
  line-height: 2;
  margin-left: 20px;
}

.brands-div {
  margin: 0;
}

.brands-div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.brands-img img {
  width: 200px;
}

.brands-img {
  display: flex;
  justify-content: center;
}

#user-page {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: linear-gradient(270deg, #090909, #020202, #111111, #444444);
  background-size: 800% 800%;

  -webkit-animation: gradientBlack 30s ease infinite;
  -moz-animation: gradientBlack 30s ease infinite;
  animation: gradientBlack 30s ease infinite;
}

@-webkit-keyframes gradientBlack {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradientBlack {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBlack {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.user-img img {
  width: 150px;
  border-radius: 50%;
}

.user-container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  margin: 0;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 12px -2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 12px -2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 12px -2px rgba(255, 255, 255, 0.75);
}

.user-container button {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

#user-footer {
  margin-top: 30px;
}

.user-container a {
  text-decoration: none;
}

.social-links a {
  text-decoration: none;
}

ion-icon {
  color: black;
}

.copyright a {
  color: black;
}

.partner-container {
  width: 100%;
  height: 100vh;
  padding: 30px;
  background: url("https://scontent.fceb3-1.fna.fbcdn.net/v/t31.18172-8/20116942_1429201820467358_2586762823457435132_o.jpg?_nc_cat=105&ccb=1-7&_nc_sid=7f8c78&_nc_eui2=AeECGhJe0OB1rOFQlY9IizWMZNyaLTSGVRlk3JotNIZVGY4t5xqNJIKXzultWkG9zbc3BWl8nRY1rYZ6hCn8_icE&_nc_ohc=WGhMRCjo9J4AX8NEvW2&_nc_ht=scontent.fceb3-1.fna&oh=00_AfAa7crlaeavgXVYlMRAj-BBoy2wn4u5qr38TZL6LX9MKQ&oe=65A5E44E");
}

.brands-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.partner-container h1 {
  text-align: center;
  margin-bottom: 100px;
  background-color: black;
  color: white;
}

.brands-container img {
  width: 300px;
}

.brands-container :hover {
  transform: scale(1.06);
  transition: all 0.2s ease-in-out;
}

#member-section h3 {
  text-align: center;
  margin-top: 15px;
}

#member-section a {
  text-decoration: none;
  color: black;
}

#member-section h3 :hover {
  color: gray;
}
