@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

section {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0px -200px;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav img {
  margin-top: 5px;
  width: 60px;
  cursor: pointer;
  filter: invert(100%);
}

.nav-links ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
}

.nav-links ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.sliding-text-container {
  width: 100%;
  text-transform: uppercase;
  position: relative;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.big-text {
  display: inline-block;
  font-size: 200px;
  color: black;
  z-index: 0;
  font-weight: 900;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main-image {
  max-width: 350px;

  margin-right: 20px;
  margin-left: 10px;
}

.container {
  margin: auto;
  width: 75%;
  display: flex;
  align-items: center;
}

.main-text h1 {
  font-size: 48px;
}

.main-text p {
  line-height: 2;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

.submit a {
  text-decoration: none;
  color: black;
}

.icon {
  margin-top: 9px;
  margin-left: 5px;
}
ion-icon {
  font-size: 20px;
}

.membership-container {
  height: 60%;
  width: 100%;

  padding: 50px;
}

.membership-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.membership-tier-div {
  display: flex;
  justify-content: center;
}

.membership-tier-div button {
  width: 100%;
  padding: 10px;
  margin: 30px 0;
  border-radius: 50px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.membership-tier-div p {
  text-decoration: underline;
  margin-bottom: 5px;
}

.member-div1,
.member-div2 {
  width: 100%;

  border: 1px solid black;
  padding: 30px;
  margin: 0 30px;
}

.membership-tier-div ul {
  line-height: 2;
  margin-left: 20px;
}

.brands-div {
  margin: 0;
}

.brands-div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.brands-img img {
  width: 200px;
}

.brands-img {
  display: flex;
  justify-content: center;
}
