@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px -200px;
  padding: 10px;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav img {
  margin-top: 5px;
  width: 60px;
  cursor: pointer;
  filter: invert(100%);
}

.nav-links ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
}

.nav-links ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.contact-container {
  display: flex;
  border: 1px solid black;
}

.contact-l {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-r {
  flex-basis: 40%;
  padding: 40px;
  background-color: black;
  color: white;
}

h1 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 40px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .inputdiv {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

textarea {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  height: 28vh;
}

label {
  margin-bottom: 6px;
  display: block;
}

button {
  background-color: white;
  border: 1px solid black;
  width: 100px;

  outline: none;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  float: right;
  cursor: pointer;
}

.contact-l h3 {
  margin-bottom: 30px;
}

.store img {
  align-items: center;
  width: 100%;
}
