@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  position: relative;
  height: 100vh;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: transparent;
  height: 100%;
}

.main-title-text {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.main-title-text:hover {
  transform: scale(1.1);
}

.foot-nav {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.foot-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.5s;
  position: relative;
}

.foot-nav a {
  text-decoration: none;
  color: black;
}

.foot-nav ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.foot-nav ul li:hover::after {
  width: 100%;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 14px;
}

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
